<div >




<input  height='1em' class='span12' type='text' value='<%= comment.title %>'></input>
<input  height='1em' class='span12' type='text' value='<%= comment.direction %>'></input>

<input  height='1em' class='span12' type='text' value='<%= comment.content %>'></input>





<div class="btn-group todo-array " >
<%= listed2 %>
</div>






<a href="/comments#/<%= comment.id %>/destroy" class="destroy">kill</a>


</div>

