<div class='span12' >






<input height='1em'  name="content" value='<%= obj.content %>' />

<textarea  rows="2" cols="20" class='content' name="content" value='<%= obj.content %>' />
<input  height='1em' type='text' value='<%= obj.title %>'></input>



<input  rows="1" type="checkbox" name="direction" class="direction" <%= obj.direction ? 'checked="checked"' : '' %>  />




<div class="btn-group todo-array "  <%= obj.direction ? 'dir="rtl"' : '' %>  >

<%= listed2 %>
</div>






<a href="/comments#/<%= obj.id %>/destroy" class="destroy">kill</a>


</div>

